<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>All Farmer Details</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

</head>
<body>
<h1>ALL FARMERS DETAILS</h1>

<table>
    <tr>
        <th>Farmer_Id</th>
        <th>Farmer_Name</th>
        <th>Mobile_Number</th>
        <th>Village</th>
        <th>Address</th>
    </tr>

    {% for items in farmers %}
    <tr>
    <td>{{items.farmer_id}}</td>
    <td>{{items.username}}</td>
    <td>{{items.mobile_number}}</td>
    <td>{{items.village_name}}</td>
    <td>{{items.address}}</td>
    </tr>
    {% endfor %}
</table>
</body>


</html>